<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <!-- Styles -->
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/scrollbars.css">

    <link rel="stylesheet" href="/lib/angular-material.css">

    <!-- Libs -->
    <script src="/lib/angular.js"></script>

    <script src="/lib/angular-aria.js"></script>
    <script src="/lib/angular-animate.js"></script>
    <script src="/lib/angular-messages.js"></script>
    <script src="/lib/angular-material.js"></script>


    <script src="js/app.js"></script>

    <!-- Controllers -->

    <script src="js/controllers/appController.js"></script>

    <!-- Services -->

    <script src="js/services/dofapiService.js"></script>
    <script src="js/services/ankamaService.js"></script>

    <!-- Core -->

    <script src="js/core/JobsToItemTypes.js"></script>
    <script src="js/core/utils.js"></script>


    <title>Pack Magic</title>
</head>

<body ng-app="app" ng-controller="AppController" ng-init="init()">

    <md-content class="app-view" layout-fill layout="row" layout-align="center stretch" >

        <div class="main-card" layout="column" flex-gt-sm="75" flex>

            <div layout="column" layout-align="center center">

                <img src="/img/eis-le-logo.png">
                <div class="title">
                    Trouve les meilleurs objets pour monter tes metiers de mage !
                </div>

                <a class="faq" ng-click="openFaq()">A quoi ça sert ? Comment ça marche ?</a>
            </div>

            <div>
                <form name="form">

                    <div layout="column">
                        

                        <md-input-container>
                            <label>Sélectionne le metier à monter</label>

                            <md-select ng-model="model.chosenTypes" required>

                                <md-optgroup label="Equipements">
                                    <md-option ng-value="JobsToItemTypes.JOAILLO">Joaillomage</md-option>
                                    <md-option ng-value="JobsToItemTypes.CORDO">Cordomage</md-option>
                                    <md-option ng-value="JobsToItemTypes.COSTU">Costumage</md-option>
                                </md-optgroup>

                                <md-optgroup label="Armes">
                                    <md-option ng-value="JobsToItemTypes.FORGE">Forgemage</md-option>
                                    <md-option ng-value="JobsToItemTypes.SCULPT">Sculptemage</md-option>
                                </md-optgroup>



                            </md-select>
                        </md-input-container>

                        <md-input-container>
                            <label>
                                Niveaux entre les objets
                            </label>
                            <md-select ng-model="model.levelBetweenItems" required>
                                <md-option ng-value="3">3 - Gros budget, plus rapide</md-option>
                                <md-option ng-value="5">5 - Recommandé</md-option>
                                <md-option ng-value="10">10 - Petit budget, plus lent</md-option>
                            </md-select>
                        </md-input-container>

                        <div class="advanced-settings">
                            <md-button class="toggle-button" layout="column" layout-align="center center"
                                ng-click="advancedOptions = !advancedOptions">
                                <div>
                                    {{advancedOptions ? "Moins" : "Plus"}} d'options
                                </div>

                                <md-icon ng-class="{'toggled' : advancedOptions}"
                                    md-svg-src="/img/icons/down-chevron.svg"></md-icon>

                            </md-button>

                            <div ng-show="advancedOptions">

                                <div>
                                    <div>Niveau de depart</div>
                                    <div class="subtitle">Renseigne un niveau de depart pour n'afficher que les items
                                        pertinent pour toi.</div>

                                    <md-input-container>
                                        <input ng-required="false" type="number" ng-model="model.startingLevel" step="1" min="1" max="199">
                                    </md-input-container>
                                </div>

                                <div>
                                    <div>Stats intéressantes</div>
                                    <div class="subtitle">Plus la rune est lourde, plus le passage fera XP ! Les runes
                                        les plus
                                        interessantes sont celles avec un ratio poids/prix élevé</div>
                                    <div class="checkbox-container" layout="row" layout-wrap>
                                        <md-checkbox ng-model="model.stats.so">Soin</md-checkbox>
                                        <md-checkbox ng-model="model.stats.sa">Sagesse</md-checkbox>
                                        <md-checkbox ng-model="model.stats.prosp">Prospection</md-checkbox>
                                        <md-checkbox ng-model="model.stats.do">Dommages</md-checkbox>
                                        <md-checkbox ng-model="model.stats.dopou">Do Pou</md-checkbox>

                                        <md-checkbox ng-model="model.stats.vi">Vitalité</md-checkbox>
                                        <md-checkbox ng-model="model.stats.elem">Force/Intel/Agi/Chance</md-checkbox>
                                        <md-checkbox ng-model="model.stats.pa">PA</md-checkbox>
                                        <md-checkbox ng-model="model.stats.po">PO</md-checkbox>
                                        <md-checkbox ng-model="model.stats.pm">PM</md-checkbox>
                                        <md-checkbox ng-model="model.stats.invo">Invo</md-checkbox>
                                    </div>
                                </div>

                            </div>

                        </div>



                        <div layout="row" layout-align="center center">
                            <md-button class="button search" ng-disabled="!form.$valid" ng-click="findItems()">
                                {{form.$valid ? "Va chercher" : "Selectionne un metier"}}
                                <div class="loader" ng-show="loading">
                                    <md-icon md-svg-src="/img/icons/loading.svg"></md-icon>

                                </div>
                            </md-button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="result-container" layout-fill flex>
                <div ng-repeat="r in model.result" class="result-entry">

                    <div class="result-level-range title">
                        {{r.level}}
                    </div>

                    <div class="items-container" layout="column" layout-align="center start">

                        <div layout="row" layout-align="start center" layout-fill layout-wrap>
                            <div ng-repeat="i in r.items | orderBy:'-score' track by $index" ng-init="id = makeId()"
                                layout="row" layout-align="start center" class="item"
                                ng-class="{'hidden-by-default' : $index > 2, 'toggled' : r.toggled}" flex="33">

                                <div class="top title"
                                    ng-class="{'one' : $index === 0, 'two' : $index === 1, 'three' : $index === 2,}">
                                    #{{$index +1}}
                                </div>
                                <div class="img-container">
                                    <img id="img{{id}}" ng-init="b64 = getImgB64(i.imgUrl, id)">
                                </div>

                                <div class="item-infos" layout="column">
                                    <div class="item-name">
                                        {{i.name}}
                                    </div>
                                    <div class="item-level">
                                        lvl {{i.level}}
                                    </div>
                                    <div class="item-score" ng-attr-title="{{displayScoreDetails(i.scoreDetails, i.coef)}}">
                                        Score : <span class="value">{{i.score | number : 0}}</span>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="!r.items || (r.items && r.items.length === 0)" class="no-items">
                                Aucun items dans cette tranche pour ces filtres.
                            </div>
                        </div>



                        <md-button class="button" ng-show="r.items.length > 3" ng-click="r.toggled = !r.toggled">
                            Voir {{r.toggled ? "moins" : "plus"}}
                        </md-button>

                    </div>
                </div>
            </div>
        </div>

        <div class="scroll-top" ng-show="isScrolledDown" ng-click="backToTop()" layout="row">
            <md-icon md-svg-src="/img/icons/down-chevron.svg"></md-icon>
        </div>

        <div class="copyright" layout="column" layout-align="center end">
            <div>
                Merci @Annubin pour le logo
            </div>
            <div>
                Les images et concepts sont la propriété de la société Ankama Games.
            </div>
        </div>



    </md-content>

</body>

</html>