<md-dialog>
    <md-dialog-content class="dialog">


        <div class="info">
            <div class="title">
                A quoi ça sert ?
            </div>
            <div class="content">
                L'idée est de trouver les items les plus opti afin de monter rapidement son metier de mage.
            </div>
        </div>


        <div class="info">
            <div class="title">
                C'est quoi un item "opti" ?
            </div>
            <div class="content">
                C'est un item avec le plus de stats "intéressantes".
            </div>
        </div>


        <div class="info">
            <div class="title">
                C'est quoi une stat "intéressante" ?
            </div>
            <div class="content" layout="column">
                <div>C'est une stat dont les runes associées :</div>
                <div>- pèsent lourd</div>
                <div>- ne coûtent pas cher</div>
                <div> On recherche un ratio
                    poids/prix élevé !</div>

                <div>Par exemple : </div>
                <div layout="row">

                    <div class="rune-content" layout="column" layout-align="center center">
                        <img class="rune" src="/img/runes/so.png">
                        Soin
                    </div>

                    <div class="rune-content" layout="column" layout-align="center center">
                        <img class="rune" src="/img/runes/do.png">
                        Dommages
                    </div>

                    <div class="rune-content" layout="column" layout-align="center center">
                        <img class="rune" src="/img/runes/prospe.png">
                        Prospection
                    </div>

                    <div class="rune-content" layout="column" layout-align="center center">
                        <img class="rune" src="/img/runes/sa.png">
                        Sagesse
                    </div>

                </div>
            </div>
        </div>


        <div class="info">
            <div class="title">
                Comment ça marche ?
            </div>
            <div class="content" layout="column">
                <div> 1 - Renseigne le métier que tu souhaites monter</div>
                <div> 2 - Optionellement, renseigne l'écart de niveaux souhaité entre les items et ton niveau de
                    départ si nécessaire</div>
                <div> 3 - Clique sur "Va chercher"</div>
            </div>
        </div>

        <div class="info">
            <div class="title">
                Quelques tips
            </div>
            <div class="content" layout="column">
                <div>- Tu xp seulement quand la rune passe sur l'item.</div>
                <div>- N'hésite pas à "casser" le jet avec des runes pas cher afin que les runes suivantes passent
                    mieux.
                </div>
                <div>- Plus la rune "pèse" lourd, plus vous xp. Pense donc à privilégier les runes do, sagesse,
                    prospection et soin qui "pèsent" lourd et ne coûtent pas cher.</div>
                <div>- Plus l'item est HL, plus vous xp. Pense donc à changer d'item dès que possible.</div>
                <div>- Spam la touche "fusionner" est plus rapide que d'utiliser la touche "fusionner tout".</div>
                <div>- En cas de lags, n'hésite pas à vider le cache régulièrement, voire aller au temple huppermage.
                </div>
            </div>
        </div>


    </md-dialog-content>
</md-dialog>